<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.authuir.sdk.qinz" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainHotActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity android:name=".MainDetailActivity"></activity>
        <activity android:name=".MainVerifyActivity"></activity>
        <activity android:name=".MainCartActivity"></activity>
        <activity android:name=".MainReqDetailActivity"></activity>
        <activity android:name=".MainFloatingButtonActivity"></activity>
        <activity android:name=".MainRequestActivity"></activity>
        <activity android:name=".MainUploadActivity"></activity>
        <activity android:name=".MainSearchActivity"></activity>

        <activity android:name=".TestActivity"></activity>
        <activity android:name=".DirtActivity"></activity>
        <activity android:name=".SettingActivity"></activity>

        <activity android:name=".NewsBooklistActivity"></activity>
        <activity android:name=".NewsActivity"></activity>
        <activity android:name=".NewsTalkActivity"></activity>

        <activity android:name=".PersAct1Activity"></activity>
        <activity android:name=".PersAct2Activity"></activity>
        <activity android:name=".PersAct3Activity"></activity>
    </application>
</manifest>
